/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 de nov. de 2023, 21:33:48
    Author     : Julians
*/
*{
    margin:0;
    padding:0;
    
    color: #666666;
    
}
@media (max-width:900px)
{
    header.topo-menu{
        height: 20px !important;
    }
    main{
      
        margin-top: 40px !important;
        width: 100% !important;
        padding: 0 !important;
    }
    .form-add-args input.valuesadd{
        width: 95px;
    }
    div.form-area{
        margin-top: 20px !important;
        background-image:none !important;
        border: none !important;
        box-shadow: none !important;
    }
   
   
}
@media (max-width:1313px)
{
    *{
        overflow: visible !important;
    }
    button.btn-save{
        display: none !important;
    }
   div.form-area{
       
        background-image:none !important;
    }
    input#btn-form-mobile{
        display: block !important;
    }
    div.btn-back{
        margin-left: -14px !important;
    }
   
}
body{
    background-color: #ffffff;
    
}
main{
    background-color:white;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin-top:0; 
    padding: 40px 50px;
    border-radius:0;
    width: 80%;
    
}
input#btn-form-mobile{
    display: none;
    width: 125px;
    height: 55px;
    font-family: Roboto,sans-serif;
    margin-top: 62px;
    margin-left: 80px;
    background-color:#2CBEFB;
    color: white;
    outline: none;
    text-align: right;
    padding-right: 10px;
    border-radius: 5px;
    border:none;
    background-image: url('../_picture/btn-save.png');
    background-repeat: no-repeat;
    background-position: top 55% left 15%;
    background-size: 30%;
    font-weight: 700;
    font-size: 10pt;
    text-transform: uppercase;
}
button.btn-save{
    width: 125px;
    height: 55px;
    font-family: Roboto,sans-serif;
    margin-top: 62px;
    margin-left: 80px;
    background-color:#2CBEFB;
    color: white;
    outline: none;
    text-align: right;
    padding-right: 10px;
    border-radius: 5px;
    border:none;
    background-image: url('../_picture/btn-save.png');
    background-repeat: no-repeat;
    background-position: top 55% left 15%;
    background-size: 30%;
    font-weight: 700;
    font-size: 10pt;
    text-transform: uppercase;
}
button.btn-save:hover{
    cursor: pointer;
}
div.form-area{
    margin-top: 50px;
    background-color: white;
    width: 80%; 
    border: 1px solid rgb(238, 237, 237);
    border-left: 4px solid #5f82eb;
    box-shadow: 1px 1px 3px rgba(0,0,0,.1);
    border-radius: 7px ;
    padding: 18px 50px;
    background-image: url('../_picture/meter.png');
    background-position: right 20% center;
    background-repeat: no-repeat;
    background-size: 165px 165px;
}

.form-add-args{
    width: 100%;
    padding: 20px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.form-add-args label{
    font-family: Arial,sans-serif;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 9pt;
    color: #9e9d9d;
}
.form-add-args input.valuesadd[type="number"]::-webkit-inner-spin-button,
.form-add-args input.valuesadd[type="nunber"]::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
.form-add-args input.valuesadd[type="text"]{
    width: 57%;
    
} 
.form-add-args input.valuesadd[type="number"]
{
    margin-left: 5px;
}
.form-add-args input.valuesadd{
    width: 50px;
    padding: 6px 10px;
    margin: 7px auto;
    box-shadow: .5px 1px 2px #e0e0e0;
    border:1px solid #e2e2e2;
    border-radius: 4px;
    display: inline-block;
    
    
}
.form-add-args input:focus{
    outline: none;
    
}
.form-add-args button.submt{
    margin: 30px auto auto 0;
    padding: 14px 47px;
    background-color: #3dad62;
    color:white;
    font-family: Roboto,sans-serif;
    box-shadow: none;
    border: 1px solid #d3d3d3;
    outline: none;
    border-radius: 4px;
    font-weight: 700;
}

